@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
  background-color: #f8f9fa; /* Warna latar abu-abu sangat muda */
  color: #333333; /* Warna teks utama gelap */
}

.font-sans {
  font-family: var(--font-poppins), sans-serif;
}

.font-script {
  font-family: var(--font-dancing-script), cursive;
}